#row {
    background-image: url(/imgs/bgrow.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
header.type {
    height: 200px; 
}
/*Header Animations*/
#Game {
    animation-name: Game;
    animation-duration: 1.5s;
    animation-fill-mode: linear;

}
@keyframes Game {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0%);
    }
  }
#ROCK {
    animation-name: ROCK;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    opacity: 0;
    

}
@keyframes ROCK {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#PAPER {
    animation-name: PAPER;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    opacity: 0;
    

}
@keyframes PAPER {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#SCISSORS {
    animation-name: SCISSORS;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 4s;
    opacity: 0;
    

}
@keyframes SCISSORS {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#yes {
    animation-name: button;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 5s;
    opacity: 0;
    height: 100px:
    width: 100px;
    padding: 10px 20px;
    font-size: 16px;
    background: linear-gradient(90deg, #7ce8ff, #00acdf);
    border: none;
    border-radius: 25px;
    transition: 0.3s ease-in-out;
}
#yes:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
    background: linear-gradient(90deg, #00acdf, #7ce8ff);
    transform: scale(1.1);
}
@keyframes button {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#yes:active {
    transform: scale(1); 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}
body {
    background-color: grey;
}
/*Rock Image*/
Button#rocky img {
    border-radius: 25px;
    height: 50vh;
    width: 50vh:
}
Button#rocky {
    border-radius: 25px;
    height: 50vh;
    width: 50vh;
    background: none;
    border: none;
}

#rocky:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
    transform: scale(1.1);
}
#rocky:active {
    transform: scale(1); 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}